<!-- Put just varibble part here and constant parts in layouts -->

<link rel="stylesheet" href="/css/user_profile.css">
<h1>
    This is Users / <%= title %>
</h1>
  <p><%= profile_user.name %></p>
  <p><%= profile_user.email %></p>